.heading {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;

  .heading__title {
    display: flex;
    align-items: center;
    gap: 8px;

    .heading__icon {
      font-size: 22px;
    }

    .heading__text {
      margin-bottom: 0;
      font-size: 26px;
      font-weight: 500;
    }
  }

  .heading__buttons {
    button + button {
      margin-left: 10px;
    }
  }
}
