.lesson-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;

  .lesson-preview__content {
    font-size: 16px;
  }

  .lesson-preview__title {
    font-size: 32px;
    font-weight: 500;
  }

  .lesson-preview__metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    .lesson-preview__owner {
      color: #8b8b8b;
    }
  }
}
