.element {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0;

  .element__title {
    font-size: 32px;
    font-weight: 500;
  }

  .element__body {
    .form-control {
      margin-top: 8px;
    }

    .form-control-labels {
      margin-bottom: 15px;
    }
  }
}
