.lessons__content {
  display: flex;
  gap: 10px;

  .lessons__list-container {
    width: 100%;
    padding: 0 !important;

    .lessons__list-body {
      width: 100%;
      padding: 10px;
      height: calc(100vh - 65px - 66px - 30px);
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: auto;
    }
  }
}
