.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./logo.png');
  background-repeat: repeat space;
  background-position: center;
  background-color: #F8F9FA;

  .login-form {
    width:400px;

    .login-btn {
        width: 100%;
    }
  }
}